/* stylelint-disable no-missing-end-of-source-newline */


/* stylelint-disable no-duplicate-selectors */


/* stylelint-disable no-descending-specificity */


/* stylelint-disable declaration-block-no-duplicate-properties */


/* stylelint-disable csstree/validator */


/* stylelint-disable color-hex-length */


/* stylelint-disable function-calc-no-unspaced-operator */


/* stylelint-disable number-no-trailing-zeros */


/* stylelint-disable selector-pseudo-element-colon-notation */


/* stylelint-disable font-family-no-missing-generic-family-keyword */


/* stylelint-disable rule-empty-line-before */


/* stylelint-disable color-hex-case */


/* stylelint-disable indentation */

body {
    font-family: 'Poppins', sans-serif, Arial, Helvetica, 'Lucida Sans', 'Lucida Sans Regular', Lucida, Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    height: 100%;
}

section {
    display: none;
}

section.active {
    display: block;
}

#mobile-menu.active {
    display: block;
    position: fixed;
    transition: transform 59.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: black;
    list-style: none;
}

.item {
    display: block;
    margin: 2rem 4rem;
    font-size: 1.8rem;
    color: white;
    text-decoration: none;
}

.item:hover {
    text-decoration: underline;
}

main {
    width: auto;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 92px;
    margin-left: auto;
    margin-right: auto;
}

.icon-btn {
    float: right;
    margin: 36px;
}

.close-btn {
    margin-left: 25em;
    margin-top: 12%;
}

.Top-nav {
    overflow: hidden;
    background-color: #3C3A39;
    position: relative;
}

.mylogo {
    padding-top: 40px;
    margin-left: 24px;
}

.mobile-Container {
    height: 590px;
    width: 100%;
    background-color: #1c1a19;
    background-image: url("image/illustration\ \(1\).svg");
    background-repeat: no-repeat, repeat;
    background-size: auto;
    background-position: 99% 125%;
    align-items: center;
}

.Content {
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Content h1 {
    width: auto;
    height: 124px;
    font-family: 'Crete Round';
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 0.37px;
    color: #FF6B00;
    word-break: break-all;
    padding-top: 65px;
}

.Content h2 {
    width: 100%;
    height: 27px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #fff5e1;
    margin-top: -8px;
}

.Content p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    flex: none;
    height: 123px;
    word-wrap: break-word;
    margin-top: -5px;
}

.social-media ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    gap: 21px;
    margin-top: -8px;
}

.Title h1 {
    width: auto;
    height: 83px;
    font-family: 'Crete Round';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #1C1A19;
    margin-left: 24px;
}

.Title hr {
    color: #fff;
    margin: 4%;
}

.Featured-info {
    height: auto;
    flex-direction: column;
    background: #fff;
    display: inline-grid;
    margin-top: 80px;
    width: 100%;
}

.myphoto {
    margin-left: 14px;
}

.my-article {
    align-items: center;
    display: inline;
    justify-content: center;
    margin-left: 18px;
}

.my-article h2 {
    font-family: 'Crete Round';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: #091e42;
    height: auto;
}

.my-article p {
    min-width: auto;
    height: 147px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #091e42;
    margin-bottom: 36px;
    overflow-wrap: break-word;
    max-width: 90%;
}

.mylinks {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    background: #fff;
    list-style: none;
    margin-top: -33px;
    padding-left: 0;
}

li.b1 {
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    width: 55px;
    height: 40px;
    background: #fff;
    border: 1px solid #8993a4;
    flex: none;
}

li.b2 {
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    width: 67px;
    height: 40px;
    background: #fff;
    border: 1px solid #8993a4;
    flex: none;
    flex-grow: 0;
}

li.b3 {
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    width: 95px;
    height: 40px;
    background: #fff;
    border: 1px solid #8993a4;
    flex: none;
    flex-grow: 0;
}

li.b4 {
    box-sizing: border-box;
    align-items: center;
    padding: 10px 12px;
    width: 61px;
    height: 40px;
    background: #fff;
    border: 1px solid #8993a4;
    flex: none;
}

.btn-projects {
    height: 48px;
    width: 124px;
    border-radius: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    border: none;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: #fff;
    background: #ff6b00;
}

.card-container {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    gap: 24px;
}

.btn-projects:hover {
    transition-duration: 0.2s;
    color: #F55800;
    background: #FFF5E1;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.btn-projects:active {
    transform: scale(1.1);
    color: #F4F1F0;
    background: #E05304;
    -webkit-transform: scale(1.0);
}

.work-container {
    background-image: url("image/Img\ Placeholder.png");
    background-repeat: no-repeat;
    display: block;
    gap: 24px;
}

.first-card {
    height: 386px;
    width: 327px;
    background-image: url("image/Img\ Placeholder.png");
    background-repeat: no-repeat;
    margin-top: 24px;
    display: inline-grid;
    align-items: flex-end;
}

.first-card .Skills-links {
    display: none;
}

.first-card h2 {
    display: none;
}

.first-card p {
    display: none;
}

.second-card {
    height: 386px;
    width: 327px;
    background-image: url("image/Img\ Placeholder.png");
    background-repeat: no-repeat;
    margin-top: 24px;
    display: inline-grid;
    align-items: flex-end;
}

.third-card {
    height: 386px;
    width: 327px;
    background-image: url("image/Img\ Placeholder.png");
    background-repeat: no-repeat;
    margin-top: 24px;
    display: inline-grid;
    align-items: flex-end;
}

.fouth-card {
    height: 386px;
    width: 327px;
    background-image: url("image/3thCardimg.png");
    background-repeat: no-repeat;
    margin-top: 24px;
    display: inline-grid;
    align-items: flex-end;
}

.fifth-card {
    height: 386px;
    width: 327px;
    background-image: url("image/Img\ Placeholder.png");
    background-repeat: no-repeat;
    margin-top: 24px;
    display: inline-grid;
    align-items: flex-end;
}

.six-card {
    height: 386px;
    width: 327px;
    background-image: url("image/3thCardimg.png");
    background-repeat: no-repeat;
    margin-top: 24px;
    display: inline-grid;
    align-items: flex-end;
}

.second-card .see-projectbtn {
    display: none;
}

.third-card .see-projectbtn {
    display: none;
}

.fouth-card .see-projectbtn {
    display: none;
}

.fifth-card .see-projectbtn {
    display: none;
}

.six-card .see-projectbtn {
    display: none;
}

.second-card .Skills-links {
    margin-bottom: 20px;
}

.third-card .Skills-links {
    margin-bottom: 20px;
}

.fouth-card .Skills-links {
    margin-bottom: 20px;
}

.fifth-card .Skills-links {
    margin-bottom: 20px;
}

.six-card .Skills-links {
    margin-bottom: 20px;
}

.project-btn1 {
    background: #FF6B00;
    justify-content: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    border: none;
    color: #fff;
    padding: 12px;
}

.card-container h2 {
    color: #fff;
    font-family: 'Crete Round';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    padding: 16px 16px;
    margin-bottom: -24px;
}

.card-container p {
    color: #fff;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    padding: 16px 16px;
    margin-bottom: -20px;
}

.Skills-links {
    display: flex;
    border-radius: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    gap: 12px;
    color: #fff;
    margin-bottom: -30px;
    padding-left: 16px;
}

.b5 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    background: rgba(255, 255, 255, 0.24);
    padding: 12px 10px 12px 10px;
}

.b6 {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    padding: 10px 12px;
    background: rgba(255, 255, 255, 0.24);
}

.b7 {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    padding: 10px 12px;
    background: rgba(255, 255, 255, 0.24);
    padding: 12px 10px 12px 10px;
}

.see-projectbtn {
    height: 48px;
    width: 327px;
    border-radius: 0;
    position: relative;
    background: #ff6b00;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    justify-content: center;
    color: #fff;
    flex: none;
    order: 0;
    flex-grow: 0;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
}

.see-projectbtn:hover {
    transition-duration: 0.2s;
    color: #F55800;
    background: #FFF5E1;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.see-projectbtn:active {
    transform: scale(1.1);
    color: #F4F1F0;
    background: #E05304;
    -webkit-transform: scale(1.1);
}

.about-section {
    border-radius: 0;
    display: grid;
    align-items: center;
    align-content: center;
    background-color: #1c1a19;
    background-image: url("image/illustration-about-me-mobile.png");
    background-repeat: no-repeat;
    background-position: 100%;
    background-position-y: 80.7%;
    margin-top: 120px;
    justify-content: center;
    padding-bottom: 60px;
}

.about-section h3 {
    height: 79px;
    font-style: normal;
    font-family: 'Crete Round';
    font-weight: 400;
    font-size: 72px;
    line-height: 88px;
    letter-spacing: 0.37px;
    flex-grow: 0;
    color: #ff6b00;
    order: 0;
    margin-bottom: 24px;
}

.about-section p {
    height: 148px;
    width: 327px;
    border-radius: nullpx;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #F4F5F7;
    flex: none;
    order: 0;
    flex-grow: 0;
    max-width: 375px;
}

.resume-btn {
    left: 0;
    top: 259px;
    border-radius: 0;
    font-style: normal;
    border: none;
    letter-spacing: 0.03em;
    height: 47px;
    flex-direction: row;
    padding: 12px;
    width: 156px;
    gap: 12px;
    background: #ff6b00;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    color: #fff;
    flex: none;
    flex-grow: 0;
}

.resume-btn:hover {
    transition-duration: 0.2s;
    color: #F55800;
    background: #FFF5E1;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.resume-btn:active {
    transform: scale(1.1);
    color: #F4F1F0;
    background: #E05304;
    -webkit-transform: scale(1.0);
}

.underline-two {
    width: 327px;
    border-radius: 0;
    left: 0;
    margin-top: 209px;
}

.skills-section {
    align-items: center;
    align-content: center;
    text-align: center;
    padding-top: 69px;
}

.skills-section h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #FFFFFF;
    flex: none;
    flex-grow: 0;
}

.Language {
    background-image: url("image/Rectangle\ 55.png");
    background-repeat: no-repeat;
    background-position: 12%;
    background-position-y: 4%;
}

.Frameworks {
    background-image: url("image/Rectangle\ 56.png");
    background-repeat: no-repeat;
    background-position: 7%;
    background-position-y: 4%;
}

.skills {
    background-image: url("image/Rectangle\ 57.png");
    background-repeat: no-repeat;
    background-position: 28%;
    background-position-y: 4%;
}

ul {
    list-style-type: none;
}

.skills-section li {
    margin-top: 34px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    color: #FFFFFF;
    margin-right: 24px;
}

.form-section {
    height: auto;
    width: auto;
    left: -1px;
    top: 5887px;
    border-radius: 0;
}

.form-section h2 {
    width: 327px;
    height: 216px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    color: #172B4D;
    flex: none;
    padding: 24px;
    margin-bottom: 73px;
}

input {
    width: 100%;
    margin-bottom: 24px;
    padding: 12px;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}

.input-section {
    display: none;
}

.e-mail {
    width: 100%;
    margin-bottom: 24px;
    padding: 12px;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #3C3A39;
    margin-left: 0;
}

.textarea {
    height: 114px;
    width: 100%;
    border: none;
    margin-bottom: 24px;
    background: #FBF8F7;
    padding: 12px;
}

.submit-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    gap: 10px;
    width: 131px;
    height: 48px;
    background: #FF6B00;
    flex: none;
    justify-content: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    margin-left: 121px;
    margin-right: 121px;
    margin-bottom: 78px;
    border: none;
    color: #F4F1F0;
}

.submit-btn:hover {
    transition-duration: 0.2s;
    color: #F55800;
    background: #FFF5E1;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.see-projectbtn:active {
    transform: scale(1.1);
    color: #F4F1F0;
    background: #E05304;
    -webkit-transform: scale(1.1);
    transition-duration: 0.2s;
    border: none;
    background-color: #FF6B00;
}

footer {
    margin-bottom: 30px;
}

footer ul {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 22px;
    margin-left: -50px;
}

.end-bar {
    width: 134px;
    height: 5px;
    left: calc(50% - 134px/2 - 0.5px);
    bottom: 8px;
    background: #0D151E;
    border-radius: 10px;
}

.submit:hover {
    transition-duration: 0.2s;
    color: #F55800;
    background: #FFF5E1;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.submit:active {
    transform: scale(1.1);
    color: #F4F1F0;
    background: #E05304;
    -webkit-transform: scale(1.0);
}

form {
    width: auto;
    display: flex;
    margin-left: 24px;
    margin-right: 24px;
    flex-direction: column;
}

@media only screen and (min-width: 768px) {
    .mobile-Container {
        background-position: 100%, 20%;
        background-repeat: no-repeat;
        background-image: url("image/Illustration-header.png");
        background-size: 458px;
        display: block;
    }
    .underline-two {
        width: 100%;
    }
    .icon-btn {
        display: none;
    }
    .close-btn {
        display: none;
    }
    .Title h1 {
        width: 315px;
        height: 52px;
        font-family: 'Crete Round';
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 52px;
        color: #091E42;
        order: 0;
        flex-grow: 0;
        display: flex;
        inline-size: 90%;
        align-items: center;
        margin-top: 70px;
        margin-left: 70px;
        gap: 2%;
    }
    .underline-one {
        display: none;
    }
    .Title h1:after {
        content: " ";
        width: 60%;
        border: 1px solid #212121;
        flex: none;
    }
    .Featured-info {
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: center;
    }
    .my-article {
        width: 353px;
    }
    .about-section {
        background-image: url("image/Frame.png");
        background-repeat: no-repeat;
        background-position: 100%;
        background-position-y: 24%;
    }
    .intro {
        margin-top: 190px;
    }
    .skills-section {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 176px;
    }
    .Language {
        margin-bottom: 13%;
        background-position: 1% 15%;
    }
    .Frameworks {
        margin-bottom: 7%;
        background-position: 2% 13%;
    }
    .skills {
        margin-bottom: 7%;
        background-position: 22% 14%;
    }
    .Content p {
        inline-size: 345px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        color: #F4F5F7;
        word-break: break-all;
        overflow-wrap: break-word;
        inline-size: 30rem;
    }
    .intro p {
        min-width: 566px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        color: #F4F5F7;
    }
    .form-section {
        display: flex;
        flex-direction: row;
        margin-top: 130px;
        flex-wrap: wrap;
    }
    .form-section h2 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 52px;
        align-items: center;
        color: #262626;
        width: 455px;
        overflow-wrap: break-word;
        height: 256px;
        inline-size: 399px;
        display: flex;
        margin-top: -2ex;
    }
    .submit-btn {
        margin-bottom: 154px;
        margin-left: 10px;
    }
    .textarea {
        height: 114px;
        width: 100%;
        border: none;
        background: #FBF8F7;
        padding: 12px;
    }
    .card-section {
        background-image: url("image/webportfolio.png");
        margin-left: 18px;
    }
    button:hover {
        transition-duration: 0.2s;
        color: #F55800;
        background: #FFF5E1;
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
    }
    button:active {
        transform: scale(1.1);
        color: #F4F1F0;
        background: #E05304;
        -webkit-transform: scale(1.1);
    }
    .input-section {
        display: inline-block;
    }
    .Full-name {
        display: none;
    }
    .input-section {
        display: flex;
    }
    .surname {
        height: 1px;
        width: 330px;
        border-left: 0;
        border-right: 0;
        border-top: 0;
        padding-top: 16px;
        padding-bottom: 16px;
        padding-right: -30px;
    }
    .name {
        height: 1px;
        width: 330px;
        border-left: 0;
        border-right: 0;
        border-top: 0;
        padding-top: 16px;
        padding-bottom: 16px;
        margin-right: 30px;
    }
    .Content h1 {
        width: 430px;
        height: 20px;
        font-family: 'Crete Round';
        font-style: normal;
        font-weight: 400;
        font-size: 72px;
        line-height: 82px;
        color: #FF6B00;
        word-break: break-all;
        padding-bottom: 99px;
    }
    .myphoto {
        height: auto;
        display: flex;
        width: 684px;
        background-image: url("image/myphotoplace1.png");
        background-repeat: no-repeat;
        background-size: 6px, auto, contain;
        margin-left: 24px;
    }
    .social-media ul {
        display: grid;
        margin-top: -33ex;
    }
    .Content {
        margin-left: 8%;
    }
    .first-card {
        background-image: url("image/healthcaredata.png");
        background-repeat: no-repeat;
        border: 1px solid #091E42;
    }
    .mobile-menu {
        float: right;
        display: flex;
        align-content: center;
    }
    .mylogo {
        padding-top: 3.5em;
        margin-left: 10em;
    }
}