#projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin: auto;
  width: 100%;
  height: auto;
  column-gap: 24px;
  padding-top: 24px;
}

.validation {
  height: 386px;
  width: 327px;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}

.validation ul {
  background: none;
  margin-bottom: 0;
}

.validation li {
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  border: 1px solid rgb(137, 147, 164);
  flex: none;
  margin: auto;
  font-family: Inter, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  background: rgba(255, 255, 255, 0.24);
  color: rgb(255, 255, 255);
}

.validation h3 {
  color: var(--neutrals-n-0, rgb(255, 255, 255));
  font-family: Crete Round, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
  margin-top: 2rem;
  padding-left: 24px;
}

.validation p {
  color: rgb(255, 255, 255);
  font-family: Inter, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  align-items: center;
  margin: 12px 0;
  margin-left: 20px;
  margin-bottom: 24px;
}

.validation button {
  width: 100%;
  position: relative;
  background: #ff6b00;
  display: block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  justify-content: center;
  color: hsl(0, 0%, 100%);
  border: none;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  padding: 12px 0;
}

.project:first-child h3 {
  color: rgb(9, 30, 66);
  font-family: Crete Round, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 52px;
  padding-left: 0;
  display: flex;
}

.project:first-child p {
  padding-bottom: 2rem;
  margin-left: 0;
  color: rgb(9, 30, 66);
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.project:first-child li {
  color: var(--neutrals-n-900, hsl(218, 76%, 15%));
  font-family: Inter, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin-top: -3rem;
  margin-left: 0;
}

.project:first-child button {
  background: hsl(25, 100%, 50%);
  margin-bottom: 5rem;
  width: fit-content;
  display: flex;
  padding: 12px 12px;
  text-align: center;
}

.project:nth-child(2) {
  max-width: 100%;
  margin-top: 24px;
  background-image: url("../image/1stcardimg.png");
}

.project:nth-child(3) {
  max-width: 100%;
  margin: 24px 0;
  background-image: url("../image/Img\ Placeholder.png");
}

.project:nth-child(4) {
  max-width: 100%;
  background-image: url("../image/Img\ Placeholder.png");
}

.project:nth-child(4) h3 {
  height: 22%;
}

.project:nth-child(5) {
  max-width: 100%;
  margin-top: 24px;
  background-image: url("../image/4thCardimg.png");
}

.project:nth-child(6) {
  max-width: 100%;
  margin: 24px 0;
  background-image: url("../image/3thCardimg.png");
}

.project:nth-child(7) {
  max-width: 100%;
  background-image: url("../image/4thCardimg.png");
}

.project:nth-child(7) h3 {
  height: 22%;
}

#popupContainer {
  display: block;

  /* position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    opacity: 1;
    z-index: 3;
    width: 80%;
    height: 80%;
    /* z-index: 999; */

  /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 3;
    width: 100%;
    height: 100vh; */
}

#popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  z-index: 9999;
  opacity: 1;
  display: block;
  border: 1px solid;
  width: 100%;
  height: 100vh;
}

#popup h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 24px;
  color: hsl(218, 54%, 20%);
}

#popup li {
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  background: hsl(0, 0%, 100%);
  border: 1px solid #8993a4;
  margin-top: 10px;
}

.close-btn {
  margin-top: 10px;
  float: right;
  color: rgba(103, 121, 142, 1);
  font-size: 30px;
  cursor: pointer;
}

.article-popup {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.link-section {
  column-gap: 20px;
  width: 100%;
  display: flex;
  margin-top: auto;
}

.link-section a {
  background: hsl(22, 100%, 48%);
  font-weight: 700;
  font-size: 16px;
  color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 7px;
  list-style: none;
  text-decoration: none;
  border: none;
  margin: 5px 0;
}

.link-section a:hover {
  background-color: #e60974;
  transition: 0.2s;
}

.link-section img {
  margin-left: 12px;
}

.imagholder {
  width: 100%;
  height: auto;
  margin: 15px 0;
}

#Main-popup {
  width: 90%;
  height: auto;
  background: white;
  border: 1px solid;
  padding: 24px;
  margin: auto;
}

@media only screen and (min-width: 768px) {
  #projects {
    display: flex;
    flex-flow: wrap;
    align-content: stretch;
    flex-direction: row;
    align-items: baseline;
  }

  .project:first-child {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .project:first-child img {
    width: 55%;
    padding: 24px;
  }

  #Main-popup {
    width: 90%;
    height: 90%;
    margin: auto;
    background: white;
    padding: 24px;
  }

  #popupContainer {
    display: block;

    /* position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);
        opacity: 2;
        z-index: 3;
        width: 80%;
        height: 80%; */
  }

  #popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 100%;
    height: 100vh;
    border: 1px solid;
    opacity: 1;
    z-index: 99;
    background: transparent;
  }

  #popup h3 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: hsl(218, 54%, 20%);
  }

  #popup p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: hsl(218, 54%, 20%);
  }

  #popup li {
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    border: 1px solid #8993a4;
    flex: none;
    flex-grow: 0;
  }

  .close-btn {
    margin-top: 10px;
    float: right;
    color: rgba(103, 121, 142, 1);
    font-size: 30px;
    cursor: pointer;
  }

  .article-popup {
    float: right;
    width: 40%;
    display: flex;
    margin-top: 15px;
    height: 79%;
    flex-direction: column;
  }

  .link-section {
    margin-top: auto;
  }

  .link-section a {
    background: hsl(22, 100%, 48%);
    font-weight: 700;
    font-size: 16px;
    color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px;
    list-style: none;
    text-decoration: none;
    border: none;
  }

  .link-section a:hover {
    background-color: #e60974;
    transition: 0.2s;
  }

  img.link-section {
    margin-left: 12px;
  }

  .imagholder {
    width: 59%;
    height: 78%;
    margin: 15px 0;
  }
}
